body{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin: 0;
}

button{
    background-color: #3882f6;
    color: #f0faf8;
    padding: 8px 24px;
    border-radius: 12px;
}
.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;    
    padding-bottom: 34px;
}
.header ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
    list-style: none;
    margin-top: 25px;
}

.header a{
    color: #f0faf8;
    text-decoration: none;
}
.logo{
    width: 200px;
    height: 100px;
}

.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding-bottom: 34px;
}

.hero h1{
    color: #f0faf8;
    font-size: 48px;
}

.hero p{
    color: #e5e7eb;
    font-size: 18px;
    width: 500px;
}

.hero img{
    width: 500px;
    height: 300px;
}