body{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin: 0;
}

button{
    background-color: #3882f6;
    color: #f0faf8;
    padding: 8px 24px;
    border-radius: 12px;
    font-size: medium;
    font-weight: 600;
}
.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;    
    padding-bottom: 100px;
}
.header ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
    list-style: none;
    margin-top: 25px;
}

.header a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}
.logo{
    width: 200px;
    height: 100px;
}

.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.hero h1{
    color: #f0faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero p{
    color: #e5e7eb;
    font-size: 18px;
    width: 500px;
}

.hero img{
    width: 500px;
    height: 300px;
}


.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.information h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 50px;
}

.container{
    display: flex;
    gap: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card img{
    width: 300px;
    height: 250px;
    border: 5px solid #3882f6;
    border-radius: 8px;
    object-fit: cover;
}

.card .text{
    font-size: 18px;
    color: #1F2937;
    font-weight: 600;
}

.quote{
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 100px;
}

.full-quote{
    width: 75%;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-name{
    align-self: flex-end;
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
}

.call-action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    padding: 50px;
    margin: 200px;
    margin-top: 0;
    margin-bottom: 50px;
    border-radius: 8px;

}

.call-action .main-text{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.call-action .sub-text{
    font: 18px;
    color: #e5e7eb;
}

.call-action button{
    border: 3px solid #f0faf8;
}

footer{
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}